.product_img {
    max-height: 300px;
}

.content_section {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}

.select {
    display: inline;
}

.txt_input {
    width: 30px;
    text-align: center;
}

th{
    padding: 10px;
    color: #1b203d;
}

td, h4 h5 {
    color: white;
}

.fa-trash-alt{
    cursor: pointer; 
    vertical-align: middle;
}

table {
    table-layout: auto;
    border-color: white;
    /* box-shadow: 2px 5px 5px white; */
    border-spacing: 0px;
    /* border: 1px solid black; */
}

th, td {
    padding: 15px;
    text-align: left;
    border: 0px;
 color: #1b203d;
  }

tr:nth-child(even){
    background-color: lightgray;
    border: 0px;
}

thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.total{
    border-top: 4px double  black;
}

.total_txt {
    text-align: right;
    color: white;
border-top: 15px double white;


}

td a {
    color: #1b203d;
    text-decoration: none;
}

.checkout{
    text-align: right;
}

tfoot{
background-color: #1b203d;
}

.txt_white {
color: white;
}