@media (min-width: 620px) {
  .grid-container {
    column-count: 3;
    column-gap: 20px;
  }

  section {
    break-inside: avoid;
  }
}

@media (min-width: 960px) {
  .grid-container {
    column-count: 4;
  }
}

header {
  grid-area: myheader;
  text-align: center;
}

nav {
  grid-area: mynav;
  display: block;
  width: 100px;
}

footer {
  grid-area: myfooter;
  background: yellow;
}

body {
  background-color: rgb(184, 185, 187);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  grid-template-areas:
    "myheader myheader"
    "mynav mymain"
    "myfooter myfooter";

  max-width: 1080px;
  align-content: center;
}

.logo {
  height: 200px;
  background-image: url(../images/GameHub_Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 10px;
}

/*
header {
  background-color: #fff;
} */

.button {
  background-color: #fff;
  color: #224459; /* White text */
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 15px;
  height: 30px;
}

.input {
  background-color: #fff;
  color: #224459; /* White text */
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 15px;
  height: 30px;
}

#btn_search {
  width: 30px;
}

#btn_search:hover ~ #txt_search {
  width: 10px;
}

#txt_search {
  padding-left: 10px;
  display: none;
}

.grid-container {
  grid-area: mymain;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center; /* adjusted */
  align-content: center;
  gap: 4px;
}

.product {
  padding: 10px;
  margin: 10px;
  cursor: pointer; /* Mouse pointer on hover */
}

.product:hover {
  transform: scale(1.1);
}

.product img {
  /* height: 200px;*/
  width: 100%;
  max-width: 300px;
}

/* h1 {
  position: relative;
  padding: 5px;
  margin: 20px;
} */

.site_title {
  position: absolute;
  /* text-align: center; */
  font-size: 30px;
}

.box {
  position: relative;
  background-color: #1b203d;
  color: #fff;
  box-shadow: 2px 10px 5px #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  gap: 10px;
}
