.navbar {
    position: -webkit-sticky;
    position: sticky !important;
    grid-area: navbar;
    top: 0;
    z-index: 999;
}

.sideMenu {
    grid-area: sidemenu;
    vertical-align: text-top;
    text-align: left;
    top: 0px;
    z-index: 999;
    max-width: 100px;
}

footer {
    width: 100%;
    text-align: center;
    grid-area: footer;
}

main {
    grid-area: main;
}

header {
    grid-area: header;
}

.grid-container {

    max-width: 1200px;
    display: grid;
    justify-content: center;
    grid-template-areas:
        'header header'
        'sidemenu navbar'
        'sidemenu main'
        'sidemenu footer';
    grid-gap: 10px;

    padding: 10px;

    /* overflow: hidden; */

}




@media screen and (max-width: 1000px) {
    .navbar {
        /* columns: 1; */
        flex-wrap: wrap-reverse;
    }

    .site_title {
        font-size: large;
        margin-top: 10px;
    }



}

@media screen and (max-width:650px) {

    .grid-container {
        max-width: 1200px;
        display: block;
        justify-content: center;
        grid-template-areas:
            'header header'
            'navbar navbar'
            'main main'
            'footer footer';
        grid-gap: 10px;
        padding: 10px;
    }

    .button,
    .search_container,
    .sideMenu {
        display: none !important;
    }

    .hamburgerbars {
        display: block !important;
    }

    .site_title {
        font-size: 15px;
    }
}

@media screen and (min-width: 650px) {
    .site_title {
        font-size: 30px;
    }

    .grid-container {

        max-width: 1200px;
        display: grid;
        justify-content: center;
        grid-template-areas:
            'header header'
            'sidemenu navbar'
            'sidemenu main'
            'sidemenu footer';
        grid-gap: 10px;
        padding: 10px;
    }

    .menu {
        display: none !important;
    }
}

/* @media screen and (min-width: 520px) {
    .hamburgerbars {
        display: none !important;
    }
} */

body {
    background-color: rgb(184, 185, 187);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}

.logo {
    background-image: url(../images/GameHub_Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: 10px;
}

.btnContainer {
    display: inline;
    flex-direction: row;
    float: right;
    font-size: 18px;
    text-align: right;
}

.txt_input,
.button {
    background-color: #fff;
    border: none;
    /* border-radius: 15px; */
    box-shadow: 2px 5px 5px #3890c7;
    color: #1b203d;
    cursor: pointer;
    height: 30px;
}

main,
.box {

    padding: 20px;
}

.product-container {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container img:hover {
    transform: scale(1.1);
}

.product-container img {
    cursor: pointer;
    flex: 1;
    margin: 10px;
    max-width: 250px;
}

.box {
    width: auto;
    position: relative;
    /* align-items: center; */
    background-color: #1b203d;
    /* border-radius: 10px; */
    box-shadow: 2px 10px 5px #ffffff;
    color: #fff;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    padding: 20px;

}

.txt_input {
    cursor: text;
    padding-left: 10px;
    padding-right: 10px;
}

.site_title {
    white-space: nowrap;
}

#add-to-cart,
.cart {
    display: none;
}

label:hover {
    cursor: pointer;
}

.cart {
    border: 1px solid green;
    position: fixed;
    right: 10px;
    padding: 10px;
}

#add-to-cart:checked~.cart {
    display: block;
}

.menu {
    background: #1b203d;
    position: absolute;
    right: 0px;
    top: 50px;
    border-style: 1px;
    text-align: left;
    width: 136px;
    display: none;
}

input[type=checkbox].hamMeny:checked~.menu {
    display: block;
}

.fa-li {
    cursor: pointer;
}

a {
    color: #fff;
}

a:hover,
.button:hover,
.search_container:hover {
    color: #3890c7;
}

.wrapper {
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky !important;
}